@model IEnumerable<ImageGallery.ViewModel.ImageList>

<ul style="list-style:none;" class="row">
    @foreach (var item in Model)
    {
        <li class="col-md-3">
            <br />
            <a data-fancybox="gallery" data-caption="@item.Title" href="@Url.Action("GetImage", "DownloadFile", new { Area ="" , Id= item.WebImageId })">
                <img class="img" src="@Url.Action("GetImage", "DownloadFile", new { Area ="" , Id= item.WebImageId, t =2 })" style="width:100%;height:180px;" />
            </a>
            <br />
            <label>@item.Title</label>
            <br />
            <br />
        </li>
    }
</ul>
