@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gallery Image Feature</h1>
    <ul>
        <li>MVC Image Gallery</li>
        <li>Save Image in database</li>
        <li>Retrive Image from database</li>
        <li>Create Image thumbnail from database</li>
        <li>Upload Image through Ajax</li>
        <li>Fancy Box Gallery</li>
    </ul>
</div>

 